name: Tests

on:
  - push

jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-latest
          - runner: ubuntu-22.04
          - runner: macos-13
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - uses: actions/checkout@v3

      - name: Install gcovr
        run: pip3 install gcovr

      - name: Setup sonar cloud
        uses: SonarSource/sonarcloud-github-c-cpp@v2.0.2

      - name: Build tests
        run: cmake -B build -S .

      - name: Build tests
        run: cmake --build build

      - name: Run tests and coverage
        run: ./build/tests/tests
